<h1>personajes</h1>

<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Género</th>
        <th scope="col">Altura</th>
        <th scope="col">Peso</th>
        <th scope="col">Color de ojos</th>
        <th scope="col">Guardar</th>
      </tr>
    </thead>
    <tbody id="table_body">

    </tbody>
</table>

<div class="buttonvr"><button type="button" id="btn" class="btn btn-primary button">Ver mas</button></div>
